{% extends 'layout.html' %}
{% load markdownify %}
{% block title %}{{form_obj.action.name}}{% endblock %}
{% block subtitle %}{{form_obj.title}} {% endblock %}
{% block extrahead %}
<meta property="og:title" content="{{form_obj.action}} - {{form_obj.title}}" />
<meta property="og:description" content="{{form_obj.description}}" />
<meta property="og:site_name" content="East Bay Forward" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{form_obj.action}} - {{form_obj.title}}" />
<meta property="twitter:description" content="{{form_obj.description}}" />
<meta property="twitter:label1" content="When" />
<meta property="twitter:data1" content="{{form_obj.action.date}}" />
{% endblock %}

{% block content %}
<p>{{form_obj.action.date}}</p>
<p>{{form_obj.description|markdownify|safe}}</p>
<form method="post">
  {% csrf_token %}
  {{form}}
  <p>
    <input type="submit" class="button" value="Submit">
  </p>
</form>
{% endblock %}
